.search-result {
  z-index: 5;
  position: absolute;
}
.list-group-item {
  min-height: 30px;
  padding: 5px 15px;
  border-radius: 0 !important;
}

.search-input {
  border-radius: 0 !important;
}

.search-year {
  text-align: right;
  font-size: 14px;
  margin-top: 3px;
}

@media all and (max-width: 1199px) {
}
@media all and (max-width: 991px) {
  .search-title {
    font-size: 13px;
  }
  .search-year {
    font-size: 11px;
  }
}
@media all and (max-width: 768px) {
  .search-title {
    font-size: 12px;
  }
}
@media all and (max-width: 575px) {
}
